
/*Navigation Bar*/
.navbar.navbar-default {
  margin-bottom: 0px;
}

@media only screen and (min-width : 992px) {

  /*Home Page*/
  /*=======================*/

    /*Filtering Button*/

  .btn-group {
    margin: 15px 0px;
  }

  /*Profile Page*/
  /*=======================*/ 

  /*Sidebar*/

  .sidebar {
    position: absolute;
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #F8F8F8;
    display: inline-block;
    width: 20%;
    float: left;
  }

  .sidebar ul {
    padding: 0px;
  }
  
  .sidebar ul li {
    list-style: none;
    padding: 10px 0px 10px 80px;
  }
  
  .sidebar ul li a {
    color: #777777;
    text-decoration: none;
  }
  
  .sidebar ul li:hover {
    background-color: #DFDFDF;
  }

  .sidebar ul li a:hover {
    cursor: pointer;
  }

  .sidebaractive {
    background-color: #DFDFDF;
  }

  /*Food Posts*/
  
  .media {
    float: right;
    width: 80%;
  }

  .media-body {
    float: right;
    width: 80%;
  }

  .media-left {
    float: left;
  }

  .container.media-container {
    padding-top: 20px;
  }

  .btn.btn-primary,
  .btn.btn-danger {
    position: relative;
    left: 610px;
    top: 30px;
  }

  /*Add Post*/
  #form-container {
    float: right;
    width: 80%;
    padding-top: 20px;
  }

  .glyphicon.glyphicon-star-empty {
    height: 15px;
    width: 15px;
  }

  .btn.btn-default.submit {
    position: relative;
    left: 450px;
    bottom: 5px;
    width: 100px;
    height: 40px;
  }

  /*Favorites*/
  #bookmarked {
    position:relative;
    left: 725px;
  }

  /*Login*/
  #user-form {
    position: relative;
    top: 100px;
  }

  .btn.btn-default.login {
    position: relative;
    left: 500px;
    width: 100px;
    height: 40px;
  }

}