
/*Navigation Bar*/
.navbar.navbar-default {
  margin-bottom: 0px;
}

/*Error*/

.custom-error {
  color: #CC0000;
}

.form-group .ng-dirty.ng-invalid {
  border: 2px solid #CC0000;
}

.form-group .ng-valid {
  border: 2px solid green;
}

@media only screen and (min-width : 992px) {

  /*Home Page*/
  /*=======================*/

    /*Filtering Button*/

  .btn-group {
    margin: 15px 0px;
  }

  .review {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  /*Profile Page*/
  /*=======================*/ 

  /*Sidebar*/

  .sidebar {
    position: fixed;
    margin: 0px;
    padding: 0px;
    height: 300px;
    background-color: #F8F8F8;
    display: inline-block;
    width: 20%;
    float: left;
  }

  .sidebar ul {
    padding: 0px;
  }
  
  .sidebar ul li {
    list-style: none;
    padding: 10px 0px 10px 80px;
  }
  
  .sidebar ul li a {
    color: #777777;
    text-decoration: none;
  }
  
  .sidebar ul li:hover {
    background-color: #DFDFDF;
  }

  .sidebar ul li a:hover {
    cursor: pointer;
  }

  .sidebaractive {
    background-color: #DFDFDF;
  }

  /*Food Posts*/
  
  .media.food {
    float: right;
    width: 80%;
  }

  .media-body.food {
    float: right;
    width: 80%;
  }

  .media-left.food {
    float: left;
  }

  .container.media-container {
    padding-top: 20px;
    overflow: scroll;
    white-space: nowrap;
  }

  .btn.btn-primary,
  .btn.btn-danger {
    position: relative;
    left: 610px;
    top: 30px;
  }

  .img-rounded {
    width: 150px;
    height: 150px;
  }

  #logic {
    margin: 0px;
  }

  /*Add Post*/
  #form-container {
    float: right;
    width: 80%;
    padding-top: 20px;
  }

  .glyphicon.glyphicon-star-empty {
    height: 15px;
    width: 15px;
  }

  .btn.btn-default.submit {
    position: relative;
    left: 450px;
    bottom: 5px;
    width: 100px;
    height: 40px;
  }
/*TypeAhead Directive*/
  .type-ahead {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  .property {
    padding: 5px 10px;
    margin: 0px;
  }
  .property:hover {
    cursor: pointer;
    background-color: #DFDFDF;
  }

  /*Favorites*/
  #bookmarked {
    position:relative;
    left: 725px;
  }

  /*Login*/
  #user-form {
    position: relative;
    top: 100px;
  }

  .btn.btn-default.login,
  .btn.btn-default.register {
    position: relative;
    left: 500px;
    width: 100px;
    height: 40px;
  }

  /*Register*/

  .register {
    margin-top: 70px;
  }

  .btn.btn-default.register {
    bottom: 40px;
  }

}