=scale-text($size)
  -webkit-transform: scale($size)
  -moz-transform: scale($size)
  transform: scale($size)

=keyframe($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

=animation($name, $time)
  -webkit-animation: #{$name} #{$time}
  -moz-animation: #{$name} #{$time}
  animation: #{$name} #{$time}

=transition($property, $duration, $timing)
  -webkit-transition: $property $duration $timing
  -moz-transition: $property $duration $timing
  transition: $property $duration $timing