@-webkit-keyframes magnify {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@-moz-keyframes magnify {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes magnify {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(0) rotateY(90deg) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(90deg) rotateZ(0);
    transform: rotateX(0) rotateY(90deg) rotateZ(0);
  }
}
@-moz-keyframes rotating {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(0) rotateY(90deg) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(90deg) rotateZ(0);
    transform: rotateX(0) rotateY(90deg) rotateZ(0);
  }
}
@keyframes rotating {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(0) rotateY(90deg) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(90deg) rotateZ(0);
    transform: rotateX(0) rotateY(90deg) rotateZ(0);
  }
}
/* line 1, ../sass/partials/_base.sass */
* {
  box-size: border-box;
}

/* line 4, ../sass/partials/_base.sass */
.line1 {
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(45deg);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(45deg);
  transform: rotateX(0) rotateY(0) rotateZ(45deg);
  transition-duration: 0.5s;
  position: relative;
  top: 4px;
}

/* line 9, ../sass/partials/_base.sass */
.line2 {
  display: none;
}

/* line 11, ../sass/partials/_base.sass */
.line3 {
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(-45deg);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(-45deg);
  transform: rotateX(0) rotateY(0) rotateZ(-45deg);
  transition-duration: 0.5s;
  position: relative;
  bottom: 4px;
}

/* line 17, ../sass/partials/_base.sass */
.glyphicon.glyphicon-edit:hover,
.glyphicon.glyphicon-cutlery:hover,
.glyphicon.glyphicon-remove:hover,
.glyphicon.glyphicon-pencil:hover,
#bookmarked:hover,
#unliked:hover {
  cursor: pointer;
}

/* line 25, ../sass/partials/_base.sass */
.page-header {
  text-align: center;
}

/* line 28, ../sass/partials/_base.sass */
#about {
  margin-top: 122px;
  text-align: center;
  line-height: 1.7em;
}
/* line 32, ../sass/partials/_base.sass */
#about p.about {
  font-size: 2em;
}

/* line 35, ../sass/partials/_base.sass */
p,
h6,
.review {
  line-height: 1.5em;
}

/* line 42, ../sass/partials/_base.sass */
#navbar {
  width: 100%;
  height: 66px;
  border-bottom: 1px solid rgba(156, 57, 57, 0.91);
  background-color: rgba(156, 57, 57, 0.91);
}
/* line 48, ../sass/partials/_base.sass */
#navbar #menu {
  display: none;
}

/* line 51, ../sass/partials/_base.sass */
#collapse {
  border: 1px solid rgba(156, 57, 57, 0.91);
  background-color: rgba(156, 57, 57, 0.91);
}
/* line 54, ../sass/partials/_base.sass */
#collapse ul {
  list-style: none;
  padding: 0px;
}
/* line 57, ../sass/partials/_base.sass */
#collapse ul li {
  text-align: center;
  margin: 27px 0px;
  -webkit-transition: font-size 0.2s ease;
  -moz-transition: font-size 0.2s ease;
  transition: font-size 0.2s ease;
  font-size: 1.3em;
}
/* line 62, ../sass/partials/_base.sass */
#collapse ul li:hover {
  font-size: 1.7em;
}
/* line 64, ../sass/partials/_base.sass */
#collapse ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.88);
}

/* line 68, ../sass/partials/_base.sass */
div#header {
  display: inline-block;
  position: relative;
  top: 9px;
  -webkit-transition: font-size 0.2s ease;
  -moz-transition: font-size 0.2s ease;
  transition: font-size 0.2s ease;
  font-size: 2.2em;
  left: 43.5%;
}
/* line 75, ../sass/partials/_base.sass */
div#header:hover {
  font-size: 2.3em;
}
/* line 77, ../sass/partials/_base.sass */
div#header strong {
  text-align: center;
}
/* line 79, ../sass/partials/_base.sass */
div#header strong a {
  color: rgba(255, 255, 255, 0.88);
  text-decoration: none;
}
/* line 82, ../sass/partials/_base.sass */
div#header strong a:hover {
  text-decoration: none;
}

/* line 85, ../sass/partials/_base.sass */
#hamburger {
  float: right;
  position: relative;
  right: 30px;
  top: 14px;
}
/* line 90, ../sass/partials/_base.sass */
#hamburger:hover {
  cursor: pointer;
}
/* line 92, ../sass/partials/_base.sass */
#hamburger .line {
  width: 31px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.88);
  margin: 4px 0px;
  border-radius: 2px;
}

/* line 101, ../sass/partials/_base.sass */
.sidebar {
  border: 1px solid #C2C2C2;
  margin-bottom: 20px;
}
/* line 104, ../sass/partials/_base.sass */
.sidebar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
/* line 108, ../sass/partials/_base.sass */
.sidebar ul li {
  text-align: center;
  padding: 14px;
}
/* line 111, ../sass/partials/_base.sass */
.sidebar ul li a {
  color: black;
}
/* line 113, ../sass/partials/_base.sass */
.sidebar ul li a:hover {
  text-decoration: none;
}

/* line 116, ../sass/partials/_base.sass */
.sidebaractive {
  background-color: rgba(190, 119, 124, 0.26);
}

/* line 119, ../sass/partials/_base.sass */
hr {
  margin: 0px;
}

/* line 122, ../sass/partials/_base.sass */
.glyphicon.glyphicon-bookmark.home, #bookmarked {
  float: right;
  font-size: 1.3em;
}

/* line 126, ../sass/partials/_base.sass */
#bookmarked {
  -webkit-transition: font-size 0.2s ease;
  -moz-transition: font-size 0.2s ease;
  transition: font-size 0.2s ease;
}
/* line 129, ../sass/partials/_base.sass */
#bookmarked:hover {
  font-size: 1.6em;
}

/* line 132, ../sass/partials/_base.sass */
.glyphicon.glyphicon-cutlery {
  -webkit-transition: font-size 0.2s ease;
  -moz-transition: font-size 0.2s ease;
  transition: font-size 0.2s ease;
  font-size: 1.34em;
}
/* line 135, ../sass/partials/_base.sass */
.glyphicon.glyphicon-cutlery:hover {
  font-size: 1.6em;
}

/* line 139, ../sass/partials/_base.sass */
.label.label-info {
  font-size: 0.9em;
  background-color: #CB7519;
}

/* line 143, ../sass/partials/_base.sass */
.btn-default {
  background-color: #E1E9E9;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  margin-bottom: 12px;
}
/* line 148, ../sass/partials/_base.sass */
.btn-default:hover {
  background-color: rgba(156, 57, 57, 0.91);
  color: rgba(255, 255, 255, 0.88);
}

/* line 152, ../sass/partials/_base.sass */
.btn.btn-default.read {
  left: 35%;
}

/* line 156, ../sass/partials/_base.sass */
.login,
.register {
  width: 100px;
  position: relative;
  margin-top: 25px;
}

/* line 162, ../sass/partials/_base.sass */
.delete-account {
  left: -1%;
  width: 150px;
  color: rgba(255, 255, 255, 0.88);
  background-color: rgba(156, 57, 57, 0.91);
}

/* line 168, ../sass/partials/_base.sass */
.rating-text {
  font-size: 1.2em;
}

/* line 173, ../sass/partials/_base.sass */
.thumbnail a > img {
  height: 150px;
}

/* line 177, ../sass/partials/_base.sass */
img[alt="star"] {
  margin: 10px 2px;
  background: palegoldenrod;
}
/* line 180, ../sass/partials/_base.sass */
img[alt="Food Pictures"] {
  margin-top: 16px;
  margin-bottom: 10px;
  width: 150px;
}
/* line 184, ../sass/partials/_base.sass */
img[alt="Food Picture"] {
  margin-bottom: 26px;
}

/* line 187, ../sass/partials/_base.sass */
.img-rounded {
  height: 150px;
  width: 150px;
}

/* line 193, ../sass/partials/_base.sass */
.custom-error {
  color: #CC0000;
}

/* line 196, ../sass/partials/_base.sass */
.form-group .ng-dirty.ng-invalid {
  border: 1px solid #CC0000;
}

/* line 199, ../sass/partials/_base.sass */
.form-group .ng-valid {
  border: 1px solid green;
}

/* line 202, ../sass/partials/_base.sass */
#login-error, #confirm-email,
#confirmation-error,
#password-error,
#existing-error,
#non-exist-error {
  background-color: rgba(201, 35, 35, 0.79);
  margin-top: 29px;
  color: white;
  height: 50px;
}
/* line 211, ../sass/partials/_base.sass */
#login-error p, #confirm-email p,
#confirmation-error p,
#password-error p,
#existing-error p,
#non-exist-error p {
  text-align: center;
  position: relative;
  top: 15px;
}

/* line 216, ../sass/partials/_base.sass */
#confirm-email {
  background-color: green;
}

/* line 221, ../sass/partials/_base.sass */
#account {
  text-align: center;
  margin-bottom: 55px;
}

/* line 224, ../sass/partials/_base.sass */
#user-info {
  text-align: center;
  width: 100%;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
}
/* line 229, ../sass/partials/_base.sass */
#user-info h3 {
  margin: 0px;
  padding: 19px 0px;
  background-color: #EDDBDC;
}
/* line 233, ../sass/partials/_base.sass */
#user-info p {
  margin: 26px 0px;
}

/* line 238, ../sass/partials/_base.sass */
#dashboard h1 {
  text-align: center;
}

/* line 242, ../sass/partials/_base.sass */
#loader {
  position: relative;
  height: 20px;
  width: 0px;
  -webkit-transition: width 0.4s ease;
  -moz-transition: width 0.4s ease;
  transition: width 0.4s ease;
  float: left;
  background-color: #AEC9D4;
  text-align: center;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.51);
}

/* line 2, ../sass/partials/_forms.sass */
form[name="loginUser"] {
  margin-top: 93px;
}
/* line 4, ../sass/partials/_forms.sass */
form[name="registerUserForm"] {
  margin-top: 93px;
}

/* line 7, ../sass/partials/_forms.sass */
.btn.btn-default.filter-button {
  background-color: #E1E9E9;
  position: relative;
  left: 0%;
  margin: 30px 0px;
}

/* line 13, ../sass/partials/_forms.sass */
input#search {
  margin: 30px 0px;
}

@media only screen and (min-width: 1204px) {
  /* line 18, ../sass/partials/_forms.sass */
  button.btn.btn-default.login,
  button.btn.btn-default.register,
  button.btn.btn-default.submit {
    left: 44%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1204px) {
  /* line 25, ../sass/partials/_forms.sass */
  button.btn.btn-default.login,
  button.btn.btn-default.register,
  button.btn.btn-default.submit {
    left: 44%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  /* line 32, ../sass/partials/_forms.sass */
  button.btn.btn-default.login,
  button.btn.btn-default.register,
  button.btn.btn-default.submit {
    left: 44%;
  }
}
@media only screen and (min-width: 1204px) {
  /* line 3, ../sass/partials/_media.sass */
  #edit-button,
  #remove-button {
    display: none;
  }

  /* line 7, ../sass/partials/_media.sass */
  #remove {
    float: right;
    top: -24px;
  }
  /* line 10, ../sass/partials/_media.sass */
  #remove:hover {
    cursor: pointer;
  }

  /* line 13, ../sass/partials/_media.sass */
  .glyphicon.glyphicon-remove {
    float: right;
    position: relative;
    -webkit-transition: font-size 0.2s ease;
    -moz-transition: font-size 0.2s ease;
    transition: font-size 0.2s ease;
    font-size: 1em;
  }
  /* line 18, ../sass/partials/_media.sass */
  .glyphicon.glyphicon-remove:hover {
    cursor: pointer;
    font-size: 1.4em;
  }

  /* line 22, ../sass/partials/_media.sass */
  #media-body-post {
    float: right;
    width: 77%;
  }

  /* line 26, ../sass/partials/_media.sass */
  #media-left-post {
    float: left;
  }

  /* line 29, ../sass/partials/_media.sass */
  .btn.btn-default.submit {
    position: relative;
    left: 45%;
    width: 100px;
  }

  /* line 34, ../sass/partials/_media.sass */
  .container.media-container {
    padding-top: 20px;
    text-overflow: hidden;
  }
  /* line 37, ../sass/partials/_media.sass */
  .container.media-container .media.food {
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
  }
  /* line 42, ../sass/partials/_media.sass */
  .container.media-container .media.food .media-left.food {
    width: 20%;
    float: left;
  }
  /* line 45, ../sass/partials/_media.sass */
  .container.media-container .media.food .media-body.food {
    display: inline-block;
    width: 77%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /* line 50, ../sass/partials/_media.sass */
  .container.media-container .media.food .media-body.food h6 {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* line 54, ../sass/partials/_media.sass */
  .edit-button,
  .remove-button {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1204px) {
  /* line 61, ../sass/partials/_media.sass */
  .container.media-container {
    padding-top: 20px;
    overflow: scroll;
  }
  /* line 64, ../sass/partials/_media.sass */
  .container.media-container .media.food {
    margin: 10px 0px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 10px;
  }
  /* line 69, ../sass/partials/_media.sass */
  .container.media-container .media.food .media-left.food {
    float: left;
    width: 20%;
  }
  /* line 72, ../sass/partials/_media.sass */
  .container.media-container .media.food .media-body.food {
    display: inline-block;
    width: 73%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    padding-left: 10%;
  }
  /* line 79, ../sass/partials/_media.sass */
  .container.media-container .media.food .media-body.food h6 {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* line 83, ../sass/partials/_media.sass */
  span.glyphicon.glyphicon-edit {
    font-size: 1.2em;
    margin: 10px 0px;
  }

  /* line 87, ../sass/partials/_media.sass */
  .glyphicon.glyphicon-remove {
    float: right;
    position: relative;
    -webkit-transition: font-size 0.2s ease;
    -moz-transition: font-size 0.2s ease;
    transition: font-size 0.2s ease;
    font-size: 1em;
  }
  /* line 92, ../sass/partials/_media.sass */
  .glyphicon.glyphicon-remove:hover {
    cursor: pointer;
    font-size: 1.4em;
  }

  /* line 96, ../sass/partials/_media.sass */
  #media-body-post {
    float: right;
    width: 75%;
  }

  /* line 100, ../sass/partials/_media.sass */
  #media-left-post {
    float: left;
  }

  /* line 103, ../sass/partials/_media.sass */
  .edit-button,
  .remove-button {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  /* line 109, ../sass/partials/_media.sass */
  .container.media-container {
    padding-top: 20px;
    overflow: scroll;
    white-space: nowrap;
  }
  /* line 113, ../sass/partials/_media.sass */
  .container.media-container .media.food {
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    padding: 16px;
  }
  /* line 117, ../sass/partials/_media.sass */
  .container.media-container .media.food .media-left.food {
    width: 20%;
  }
  /* line 119, ../sass/partials/_media.sass */
  .container.media-container .media.food .media-body.food {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /* line 123, ../sass/partials/_media.sass */
  .container.media-container .media.food .media-body.food h6 {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* line 127, ../sass/partials/_media.sass */
  .container.post-container {
    padding-top: 20px;
  }
  /* line 129, ../sass/partials/_media.sass */
  .container.post-container .media.post {
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    padding: 16px;
  }
  /* line 133, ../sass/partials/_media.sass */
  .container.post-container .media.post #media-left-post {
    width: 20%;
  }
  /* line 135, ../sass/partials/_media.sass */
  .container.post-container .media.post #media-body-post {
    display: block;
  }

  /* line 138, ../sass/partials/_media.sass */
  .glyphicon.glyphicon-remove,
  .glyphicon.glyphicon-edit {
    display: none;
  }

  /* line 142, ../sass/partials/_media.sass */
  .edit-button,
  .remove-button {
    position: relative;
    left: 40%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  /* line 3, ../sass/partials/_smartphones.sass */
  p,
  h6 {
    font-size: 1.2em;
  }

  /* line 7, ../sass/partials/_smartphones.sass */
  div#header {
    left: 4%;
  }

  /* line 11, ../sass/partials/_smartphones.sass */
  #username {
    display: none;
  }

  /* line 14, ../sass/partials/_smartphones.sass */
  input#search {
    margin: 12px 0px 31px;
  }

  /* line 17, ../sass/partials/_smartphones.sass */
  h3.ng-binding {
    margin: 19px 0px;
  }

  /* line 20, ../sass/partials/_smartphones.sass */
  h4.ng-binding {
    margin: 20px 0px;
  }

  /* line 24, ../sass/partials/_smartphones.sass */
  .glyphicon.glyphicon-star {
    font-size: 1.34em;
    position: relative;
    top: 4px;
  }

  /* line 29, ../sass/partials/_smartphones.sass */
  .form-group.login-form {
    margin: 19px 0px 12px 0px;
  }

  /* line 32, ../sass/partials/_smartphones.sass */
  .register-form {
    margin: 12px 0px;
  }

  /* line 35, ../sass/partials/_smartphones.sass */
  button.btn.btn-default.login,
  button.btn.btn-default.register,
  button.btn.btn-default.submit {
    left: 31%;
  }

  /* line 41, ../sass/partials/_smartphones.sass */
  .sidebar {
    border: 1px solid #C2C2C2;
    margin-bottom: 20px;
  }
  /* line 44, ../sass/partials/_smartphones.sass */
  .sidebar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  /* line 48, ../sass/partials/_smartphones.sass */
  .sidebar ul li {
    text-align: center;
    padding: 14px;
  }
  /* line 51, ../sass/partials/_smartphones.sass */
  .sidebar ul li a {
    color: black;
  }

  /* line 56, ../sass/partials/_smartphones.sass */
  .glyphicon.glyphicon-edit,
  .glyphicon.glyphicon-remove {
    display: none;
  }

  /* line 59, ../sass/partials/_smartphones.sass */
  .media {
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    padding: 16px;
  }

  /* line 64, ../sass/partials/_smartphones.sass */
  .btn.btn-default.filter-button {
    background-color: #E1E9E9;
    position: relative;
    left: 0%;
  }

  /* line 69, ../sass/partials/_smartphones.sass */
  .container.media-container {
    padding-top: 20px;
    overflow: scroll;
    white-space: nowrap;
  }
  /* line 73, ../sass/partials/_smartphones.sass */
  .container.media-container .media.food {
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    padding: 16px;
  }
  /* line 77, ../sass/partials/_smartphones.sass */
  .container.media-container .media.food .media-left.food {
    width: 20%;
  }
  /* line 79, ../sass/partials/_smartphones.sass */
  .container.media-container .media.food .media-body.food {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /* line 82, ../sass/partials/_smartphones.sass */
  .container.media-container .media.food .media-body.food h6 {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* line 86, ../sass/partials/_smartphones.sass */
  .edit-button,
  .remove-button {
    position: relative;
    left: 25%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 3, ../sass/partials/_tablets.sass */
  #edit-button,
  #remove-button {
    display: none;
  }

  /* line 10, ../sass/partials/_tablets.sass */
  .media-body.food {
    float: right;
    width: 80%;
    padding-left: 2%;
  }

  /* line 15, ../sass/partials/_tablets.sass */
  .btn.btn-default.submit {
    position: relative;
    left: 45%;
  }

  /* line 19, ../sass/partials/_tablets.sass */
  #media-body-post {
    float: right;
    width: 82%;
  }

  /* line 23, ../sass/partials/_tablets.sass */
  span#food-post-remove {
    float: right;
  }

  /* line 26, ../sass/partials/_tablets.sass */
  .container.media-container {
    padding-top: 20px;
    overflow: scroll;
    white-space: nowrap;
  }
  /* line 30, ../sass/partials/_tablets.sass */
  .container.media-container .media.food {
    margin: 10px 0px;
  }
  /* line 32, ../sass/partials/_tablets.sass */
  .container.media-container .media.food .media-left.food {
    float: left;
    width: 20%;
  }
  /* line 35, ../sass/partials/_tablets.sass */
  .container.media-container .media.food .media-body.food {
    float: right;
    width: 77%;
  }
  /* line 38, ../sass/partials/_tablets.sass */
  .container.media-container .media.food .media-body.food h6 {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* line 42, ../sass/partials/_tablets.sass */
  #remove {
    position: relative;
    float: right;
    top: -24px;
    font-size: 1.2em;
  }

  /* line 48, ../sass/partials/_tablets.sass */
  #form-container {
    float: right;
    width: 80%;
    padding-top: 20px;
  }

  /* line 53, ../sass/partials/_tablets.sass */
  .btn.btn-default.filter-button {
    background-color: #E1E9E9;
    position: relative;
    left: 0%;
    margin: 30px 0px;
  }

  /* line 59, ../sass/partials/_tablets.sass */
  button.btn.btn-default.login,
  button.btn.btn-default.register,
  button.btn.btn-default.submit {
    left: 44%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 66, ../sass/partials/_tablets.sass */
  #edit-button,
  #remove-button {
    display: none;
  }

  /* line 70, ../sass/partials/_tablets.sass */
  .container.media-container {
    padding-top: 20px;
    overflow: scroll;
    white-space: nowrap;
  }
  /* line 74, ../sass/partials/_tablets.sass */
  .container.media-container .media.food {
    margin: 10px 0px;
  }
  /* line 76, ../sass/partials/_tablets.sass */
  .container.media-container .media.food .media-left.food {
    float: left;
    width: 20%;
  }
  /* line 79, ../sass/partials/_tablets.sass */
  .container.media-container .media.food .media-body.food {
    float: right;
    width: 80%;
    padding-left: 9%;
  }
  /* line 83, ../sass/partials/_tablets.sass */
  .container.media-container .media.food .media-body.food h6 {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* line 87, ../sass/partials/_tablets.sass */
  #remove {
    position: relative;
    float: right;
    top: -24px;
    font-size: 1.2em;
  }

  /* line 93, ../sass/partials/_tablets.sass */
  #form-container {
    float: right;
    width: 80%;
    padding-top: 20px;
  }

  /* line 98, ../sass/partials/_tablets.sass */
  #food-post-remove {
    float: right;
  }

  /* line 101, ../sass/partials/_tablets.sass */
  #media-body-post {
    float: right;
    width: 76%;
  }

  /* line 105, ../sass/partials/_tablets.sass */
  #media-left-post {
    float: left;
  }

  /* line 108, ../sass/partials/_tablets.sass */
  #header {
    float: left;
  }

  /* line 110, ../sass/partials/_tablets.sass */
  #nav-right {
    float: right;
  }

  /* line 113, ../sass/partials/_tablets.sass */
  .btn.btn-default.filter-button {
    background-color: #E1E9E9;
    position: relative;
    left: 0%;
    margin-bottom: 52px;
  }

  /* line 119, ../sass/partials/_tablets.sass */
  button.btn.btn-default.login,
  button.btn.btn-default.register,
  button.btn.btn-default.submit {
    left: 44%;
  }
}
