*
  box-size: border-box
  font-family: 'Open Sans', sans-serif


.glyphicon.glyphicon-edit:hover,
.glyphicon.glyphicon-cutlery:hover,
.glyphicon.glyphicon-remove:hover,
.glyphicon.glyphicon-pencil:hover,
#bookmarked:hover,
#unliked:hover
  cursor: pointer

p,
h6,
.review
  line-height: 1.5em

// Navigation Bar

#navbar
  width: 100%
  height: 40px
  border-bottom: 1px solid rgb(204, 204, 204)
  #menu
    display: none

#collapse
  border: 1px solid #F1F1F1
  ul
    list-style: none
    padding: 0px
    li
      text-align: center
      margin: 27px 0px
      a 
        text-decoration: none
        color: black

div#header
  display: inline-block
  position: relative
  top: 10px
  left: 47.5%

#hamburger
  float: right
  position: relative
  right: 30px
  bottom: -3px
  &:hover
    cursor: pointer
  .line
    width: 31px
    height: 5px
    border: 1px solid #C2C2C2
    background-color: #C2C2C2
    margin: 4px 0px
    border-radius: 2px

// Sidebar

.sidebar
  border: 1px solid #C2C2C2
  margin-bottom: 20px
  ul
    list-style: none
    padding: 0px
    margin: 0px
    li
      text-align: center
      padding: 14px
      a
        color: black

.sidebaractive
  background-color: #F1F1F1

hr
  margin: 0px

.glyphicon.glyphicon-bookmark.home,
#bookmarked
  float: right
  font-size: 1.3em

.glyphicon.glyphicon-cutlery
  font-size: 1.34em

.label.label-info
  font-size: 0.9em
  background-color: #CB7519

.btn-default 
  background-color: #E1E9E9
  position: relative
  margin-bottom: 12px
  left: 34%

.login,
.register
  width: 100px
  position: relative
  margin-top: 25px

.rating-text 
  font-size: 1.2em

// Images on the posts and foods

img
  &[alt="star"]
    margin: 10px 2px
    background: palegoldenrod
  &[alt="Food Pictures"]
    margin-top: 16px
    margin-bottom: 10px
  &[alt="Food Picture"]
    margin-bottom: 26px

.img-rounded
  height: 150px
  width: 150px

//Errors

.custom-error
  color: #CC0000

.form-group .ng-dirty.ng-invalid
  border: 1px solid #CC0000

.form-group .ng-valid
  border: 1px solid green
