*
  box-size: border-box

.bg-login
  +background("../images/dessert.jpg")

.bg-reg
  +background("../images/mango.jpg")

button.btn.btn-default.login,
button.btn.btn-default.register,
button.btn.btn-default.submit
  width: 100%


.line1
  +rotate(0, 0, 45deg)
  transition-duration: 0.5s
  position: relative
  top: 4px
.line2
  display: none
.line3
  +rotate(0, 0, -45deg)
  transition-duration: 0.5s
  position: relative
  bottom: 4px

.glyphicon.glyphicon-edit:hover,
.glyphicon.glyphicon-cutlery:hover,
.glyphicon.glyphicon-remove:hover,
.glyphicon.glyphicon-pencil:hover,
#bookmarked:hover,
#unliked:hover
  cursor: pointer

.page-header
  text-align: center

#about
  margin-top: 122px
  text-align: center
  line-height: 1.7em
  p.about
    font-size: 2.0em

p,
h6,
.review
  line-height: 1.5em

// Navigation Bar

#navbar
  width: 100%
  height: 66px
  border-bottom: 1px solid rgba(156, 57, 57, 0.91)
  background-color: rgba(156, 57, 57, 0.91)
  // box-shadow: inset 3px 2px 10px 0px rgba(211, 139, 62, 0.53)
  #menu
    display: none

#collapse
  border: 1px solid rgba(156, 57, 57, 0.91)
  background-color: rgba(156, 57, 57, 0.91)
  ul
    list-style: none
    padding: 0px
    li
      text-align: center
      margin: 27px 0px
      +transition(font-size, 0.2s, ease)
      font-size: 1.3em
      &:hover
        font-size: 1.7em
      a 
        text-decoration: none
        color: rgba(255, 255, 255, 0.88)

div#header
  display: inline-block
  position: relative
  top: 9px
  +transition(font-size, 0.2s, ease)
  font-size: 2.2em
  left: 43.5%
  &:hover
    font-size: 2.3em
  strong
    text-align: center
    a
      color: rgba(255, 255, 255, 0.88)
      text-decoration: none
      &:hover
        text-decoration: none

#hamburger
  float: right
  position: relative
  right: 30px
  top: 14px
  &:hover
    cursor: pointer
  .line
    width: 31px
    height: 5px
    background-color: rgba(255, 255, 255, 0.88)
    margin: 4px 0px
    border-radius: 2px

// Sidebar

.sidebar
  border: 1px solid #C2C2C2
  margin-bottom: 20px
  ul
    list-style: none
    padding: 0px
    margin: 0px
    li
      text-align: center
      padding: 14px
      a
        color: black
        &:hover
          text-decoration: none

.sidebaractive
  background-color: rgba(190, 119, 124, 0.26)

hr
  margin: 0px

.glyphicon.glyphicon-bookmark.home
  float: right
  font-size: 1.3em

#bookmarked
  +transition(font-size, 0.2s, ease)
  @extend .glyphicon.glyphicon-bookmark.home
  &:hover
    font-size: 1.6em

.glyphicon.glyphicon-cutlery
  +transition(font-size, 0.2s, ease)
  font-size: 1.34em
  &:hover
    font-size: 1.6em


.label.label-info
  font-size: 0.9em
  background-color: #CB7519

.btn-default 
  background-color: #E1E9E9
  +transition(background-color, 0.2s, linear)
  position: relative
  margin-bottom: 12px
  &:hover
    background-color: rgba(156, 57, 57, 0.91)
    color: rgba(255, 255, 255, 0.88)

.btn.btn-default.read
  left: 35%


.login,
.register
  width: 100px
  position: relative
  margin-top: 25px

.delete-account
  left: -1%
  width: 150px
  color: rgba(255, 255, 255, 0.88)
  background-color: rgba(156, 57, 57, 0.91)

.rating-text 
  font-size: 1.2em

// Images on the posts and foods

.thumbnail a > img
  height: 150px

.thumbnail
  box-shadow: 1px 3px 8px -2px #555959

img
  &[alt="star"]
    margin: 10px 2px
    background: palegoldenrod
  &[alt="Food Pictures"]
    margin-top: 16px
    margin-bottom: 10px
    width: 150px
  &[alt="Food Picture"]
    margin-bottom: 26px

.img-rounded
  height: 150px
  width: 150px

//Errors

.custom-error
  color: rgba(255, 255, 255, 0.9)
  background-color: rgb(201, 74, 74)
  height: 34px
  position: relative
  text-align: center
  top: -15px
  border-radius: 3px
  span
    position: relative
    top: 5px

.form-group .ng-dirty.ng-invalid
  border: 1px solid #CC0000

.form-group .ng-valid
  border: 1px solid green

#login-error,
#confirmation-error,
#password-error,
#existing-error,
#non-exist-error
  background-color: rgba(201, 35, 35, 0.79)
  margin-top: 29px
  color: white
  height: 50px
  p
    text-align: center
    position: relative
    top: 15px

#confirm-email
  @extend #login-error
  background-color: green
// Account Settings Page

#account
  text-align: center
  margin-bottom: 55px
#user-info
  text-align: center
  width: 100%
  border: 1px solid rgb(194, 194, 194)
  border-radius: 5px
  h3
    margin: 0px
    padding: 19px 0px
    background-color: #EDDBDC
  p
    margin: 26px 0px

// Dashboard
#dashboard
  h1
    text-align: center

//loading animation
#loader
  position: relative
  height: 20px
  width: 0px
  +transition(width, 0.4s, ease)
  float: left
  background-color: #AEC9D4
  text-align: center
  font-size: 0.9em
  color: rgba(0, 0, 0, 0.51)