form
  &[name="loginUser"]
    margin-top: 93px
  &[name="registerUserForm"]
    margin-top: 93px

.btn.btn-default.filter-button
  background-color: #E1E9E9
  position: relative
  left: 0%
  margin: 30px 0px

input#search
  margin: 30px 0px

@media #{$laptop-desktop}

  button.btn.btn-default.login,
  button.btn.btn-default.register
    left: 44%

@media #{$laptop-window-tablet-size}

  button.btn.btn-default.login,
  button.btn.btn-default.register
    left: 44%

@media #{$laptop-window-smartphone-size}

  button.btn.btn-default.login,
  button.btn.btn-default.register
    left: 44%