@import variables

@media #{$smartphone}

  // Home Page
  #username
    display: none

  input#search
    margin: 12px 0px 31px

  h3.ng-binding
    margin: 19px 0px

  h4.ng-binding
    margin: 20px 0px


  .glyphicon.glyphicon-star
    font-size: 1.34em
    position: relative
    top: 4px

  .form-group.login-form
    margin: 19px 0px 12px 0px

  .register-form
    margin: 12px 0px

  //Sidebar
  .sidebar
    border: 1px solid rgb(165, 165, 165)
    margin-bottom: 20px
    ul
      list-style: none
      padding: 0px
      margin: 0px
      li
        padding: 14px 0px 14px 35%
        position: relative
        a
          color: black

  // Profile Page

  .glyphicon.glyphicon-edit,
  .glyphicon.glyphicon-remove
    display: none
  .media
    border: 1px solid #E5E5E5
    border-radius: 3px
    padding: 16px

  #navbar
    width: 100%
    border: 1px solid black
    height: 40px