@media #{$smartphone}
  
  p,
  h6
    font-size: 1.2em

  div#header
    left: 4%

  // Home Page
  #username
    display: none

  input#search
    margin: 12px 0px 31px

  h3.ng-binding
    margin: 19px 0px

  h4.ng-binding
    margin: 20px 0px


  .glyphicon.glyphicon-star
    font-size: 1.34em
    position: relative
    top: 4px

  .form-group.login-form
    margin: 19px 0px 12px 0px

  .register-form
    margin: 12px 0px

  //Sidebar
  .sidebar
    border: 1px solid #C2C2C2
    margin-bottom: 20px
    ul
      list-style: none
      padding: 0px
      margin: 0px
      li
        text-align: center
        padding: 14px
        a
          color: black

  // Profile Page

  .glyphicon.glyphicon-edit,
  .glyphicon.glyphicon-remove
    display: none
  .media
    border: 1px solid #E5E5E5
    border-radius: 3px
    padding: 16px

  .btn.btn-default.filter-button
    background-color: #E1E9E9
    position: relative
    left: 0%

  .container.media-container
    padding-top: 20px
    overflow: scroll
    white-space: nowrap
    .media.food
      border: 1px solid #E5E5E5
      border-radius: 3px
      padding: 16px
      .media-left.food
        width: 20%
        h6
          overflow: hidden
          text-overflow: ellipsis


