@import partials/smartphone
@import partials/tablets

.navbar-default
  background-color: white
  margin: 0px

.glyphicon.glyphicon-bookmark.home,
#bookmarked
  float: right
  font-size: 1.3em

.btn-default 
  color: white
  background-color: #5bc0de
  position: relative
  margin-bottom: 12px
  left: 34%

.login,
.register
  width: 100px
  position: relative
  margin-top: 25px

.rating-text 
  font-size: 1.2em

img
  &[alt="star"]
    margin: 10px 2px
    background: palegoldenrod
  &[alt="Food Pictures"]
    margin-top: 16px
    margin-bottom: 10px
  &[alt="Food Picture"]
    margin-bottom: 26px

.sidebaractive
  background-color: #F1F1F1

.img-rounded
  height: 150px
  width: 150px

//Errors

.custom-error
  color: #CC0000

.form-group .ng-dirty.ng-invalid
  border: 1px solid #CC0000

.form-group .ng-valid
  border: 1px solid green
