@import partials/variables

@media #{$iphone5}

  // Home Page
  .navbar-default
    background-color: white
  input#search
    margin: 12px 0px 31px
  .btn-default 
    color: white
    background-color: #5bc0de
    position: relative
    left: 93px
    margin-bottom: 12px
  span#rating-text 
    font-size: 1.2em
  h3.ng-binding
    margin: 19px 0px
  h4.ng-binding
    margin: 20px 0px
  img
    &[alt="star"]
      margin: 10px 2px
      background: palegoldenrod
    &[alt="Food Picture"]
      margin-top: 16px
  // Food Page