<ng-include src="'templates/partials/navbar.html'"></ng-include>
<ng-include src="'templates/partials/sidebar.html'"></ng-include>

<div class="container" id="form-container" ng-controller="AddCtrl">

  <form role="form" name="addPostForm" ng-submit="addReview(post, restaurant, image, food)" enctype="multipart/form-data" autocomplete="on"novalidate>

    <div class="form-group">
      <label for="post-image">Food Image</label>
      <p class="help-block">From your computer</p>
      <input type="hidden" name="key" value="key" />
      <input type="hidden" name="AWSAccessKeyId" value="access_key" />
      <input type="hidden" name="acl" value="public-read" />
      <input type="hidden" name="policy" value="policy" />
      <input type="hidden" name="signature" value="signature" />
      <input type="hidden" name="Content-Type" value="image/jpeg">
      <input type="file" name="file" fileread="image" required>
    </div>


    <div class="form-group">
      <label for="restaurant">Restaurant Name</label>
      <input type="text" name="restaurantname" class="form-control" placeholder="Restaurant Name" ng-model="restaurant.name" required>
    </div>

    <div class="custom-error" ng-show="addPostForm.restaurantname.$dirty && addPostForm.restaurantname.$invalid">
      <span ng-show="addPostForm.restaurantname.$error.required">Invalid: Restaurant name is required.</span>
    </div>
    <br>

    <div class="form-group">
      <label for="city">City</label>
      <input type="text" name="restaurantcity" class="form-control" placeholder="Restaurant City" ng-model="restaurant.city" required>
    </div>

    <div class="custom-error" ng-show="addPostForm.restaurantcity.$dirty && addPostForm.restaurantcity.$invalid">
      <span ng-show="addPostForm.restaurantcity.$error.required">Invalid: Restaurant city is required.</span>
    </div>
    <br>

    <div class="form-group">
      <label for="state">State</label>
      <input type="text" name="restaurantstate" class="form-control" placeholder="Restaurant State" ng-model="restaurant.state" required>
    </div>

    <div class="custom-error" ng-show="addPostForm.restaurantstate.$dirty && addPostForm.restaurantstate.$invalid">
      <span ng-show="addPostForm.restaurantstate.$error.required">Invalid: Restaurant state is required.</span>
    </div>
    <br>

    <div class="form-group">
      <label for="post-name">Food Name</label>
      <input type="text" name="foodname" class="form-control" placeholder="Enter Name" ng-model="food.name" required>
    </div>

    <div class="custom-error" ng-show="addPostForm.foodname.$dirty && addPostForm.foodname.$invalid">
      <span ng-show="addPostForm.foodname.$error.required">Invalid: Food name is required.</span>
    </div>
    <br>

    <div class="form-group">
      <label for="rating">Rating: </label>
      <select name="rating" class="form-control" ng-model="post.rating" ng-options="rating for rating in ratingVals" required>
        <option value="">Select One</option>
      </select>
    </div>

    <div class="custom-error" ng-show="addPostForm.rating.$dirty && addPostForm.rating.$invalid">
      <span ng-show="addPostForm.rating.$error.required">Invalid: Rating is required.</span>
    </div>
    <br>

    <div class="form-group">
      <label for="review">Review</label>
      <textarea name="review" class="form-control" rows="5" ng-model="post.review" required></textarea>
    </div>

    <div class="custom-error" ng-show="addPostForm.review.$dirty && addPostForm.review.$invalid">
      <span ng-show="addPostForm.review.$error.required">Invalid: Review is required.</span>
    </div>
    <br>

    <button type="submit" class="btn btn-default submit" name="submit" ng-disabled="addPostForm.$invalid">Submit</button>

  </form>
</div>

