<div class="form-group">
  <label for="post-image">Food Image</label>
  <p class="help-block">From your computer</p>
  <input type="hidden" name="key" value="{{key}}" />
  <input type="hidden" name="AWSAccessKeyId" value="{{access_key}}" />
  <input type="hidden" name="acl" value="public-read" />
  <input type="hidden" name="policy" value="{{policy}}" />
  <input type="hidden" name="signature" value="{{signature}}" />
  <input type="hidden" name="Content-Type" value="image/jpeg">
  <input type="file" name="file" required>
</div>