<div id="dashboard" ng-controller="DashboardCtrl">
  <h1>DashBoard</h1>
  <div class="container">
    <div id="user-list">
        
        <ol ng-repeat="user in users">
          <hr>
          <li><strong>{{user.username}}</strong>
            <ul>
              <li><strong>Email: </strong>{{user.email}}</li>
              <li><strong>Foods: </strong>
                <ul ng-repeat="food in user.foods">
                  <hr>
                  <li><strong>Food Name: </strong>{{food.name}}</li>
                  <li><strong>Restaurant: </strong>{{food.restaurant_name}}</li>
                  <li><strong>City, State: </strong>{{food.city}}, {{food.state}}</li>
                </ul>
              </li>
              <li><strong>Posts: </strong>
                <ul ng-repeat="post in user.posts">
                      <hr>
                      <li><strong>Rating: </strong>{{post.rating}}</li>
                      <li><strong>Review: </strong>{{post.review}}</li>
                </ul>
              </li>
              <li><strong>Likes: </strong>{{user.likes.length}}</li>
              <li><strong>Bookmarks: </strong>{{user.bookmarks.length}}</li>
            </ul>
          </li>
        </ol>
    </div>    
  </div>
</div>