<ng-include src="'templates/navbar.html'"></ng-include>
<ng-include src="'templates/sidebar.html'"></ng-include>

<div class="container media-container" ng-controller="FavoriteCtrl">

  <div class="media food" ng-repeat="food in foods" ng-show="isBookmarked(food, currentUser, bookmarks)">

    <a class="media-left food" href="#/foods/{{food.id}}" class="profile-food-image">
      <img class="img-rounded" ng-src="{{food.posts[0].food_image.image_url}}" alt="Food Picture">
    </a>

    <span class="glyphicon glyphicon-bookmark" aria-hidden="true" ng-click="unBookmarkFood(food, currentUser, bookmarks)" id="bookmarked"></span>

    <div class="media-body food">
      <h4 class="media-heading">{{food.name}}</h4>
       <div>
          <span class="rating-text"><strong>Rating: </strong></span>
          <span ng-repeat="i in getAvgRating(food)" aria-hidden="true"><img src="images/glyphicons-49-star-empty.png" alt="star"></span>
      </div>
      <span>{{food.restaurant_name}} </span><span class="label label-info">{{food.city}}</span> <span class="label label-info">{{food.state}}</span><br>
      <h6>{{food.posts[0].review}}</h6>
    </div>

  </div>

</div>