<ng-include src="'templates/navbar.html'"></ng-include>

<div class="container" ng-controller="FoodCtrl">
  <div class="page-header">
    <h1>{{currentFood.name}}</h1>
    <h2>{{currentFood.restaurant_name}}</h2>
    <h3>{{currentFood.city}}, {{currentFood.state}}</h3>
    <span ng-repeat="i in avgFoodRating" aria-hidden="true"><img src="images/glyphicons-49-star-empty.png" alt="star"></span>
  </div>
  <div ng-show="isLoggedIn() && (currentUser.id !== currentFood.user_id)">
    <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="slideToggleForm()">Add Post</span>
  </div>
  <br>

  <form name="addNewPostForm" enctype="multipart/form-data" ng-submit="postNewPost(post, image, currentFood)" autocomplete="on" hidden novalidate>

    <div class="form-group">
      <label for="post-image">Food Image</label>
      <p class="help-block">From your computer</p>
      <input type="hidden" name="key" value="key" />
      <input type="hidden" name="AWSAccessKeyId" value="access_key" />
      <input type="hidden" name="acl" value="public-read" />
      <input type="hidden" name="policy" value="policy" />
      <input type="hidden" name="signature" value="signature" />
      <input type="hidden" name="Content-Type" value="image/jpeg">
      <input type="file" name="file" fileread="image" required>
    </div>

    <div class="form-group">
      <label for="rating">Rating: </label>
      <select name="rating" class="form-control" ng-model="post.rating" ng-options="rating for rating in ratingVals" required>
        <option value="">Select One</option>
      </select>
    </div>

    <div class="custom-error" ng-show="addNewPostForm.rating.$dirty && addNewPostForm.rating.$invalid">
      <span ng-show="addNewPostForm.rating.$error.required">Invalid: Rating is required.</span>
    </div>
    <br>

    <div class="form-group">
      <label for="review">Review</label>
      <textarea name="review" class="form-control" rows="5" ng-model="post.review" ng-minlength="100" required></textarea>
    </div>

    <div class="custom-error" ng-show="addNewPostForm.review.$dirty && addNewPostForm.review.$invalid">
      <span ng-show="addNewPostForm.review.$error.required">Invalid: Review is required.</span>
      <p ng-show="addNewPostForm.review.$error.minlength">Review is too short.</p>
    </div>
    <br>

    <button type="submit" class="btn btn-default submit" name="submit" ng-click="hideForm()" ng-disabled="addNewPostForm.$invalid">Post</button>
  </form>

  <div class="container post-container">
    <div class="media post" ng-repeat="post in posts" id="{{post.id}}" id="media-post">
   
      <a class="media-left post" href="#" class="profile-food-image" id="media-left-post">
        <img class="img-rounded" ng-src="{{post.food_image.image_url}}" alt="Food Picture">
      </a>
   
      <div class="media-body" id="media-body-post">
        <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removePost(post, currentFood)" ng-show="currentUser.id === post.user_id" id="food-post-remove"></span>
        <img ng-src="images/{{post.liked}}" id="unliked" alt="unliked" ng-click="likePost(post)" ng-show="isLoggedIn() && currentUser.id !== post.user_id"> <span ng-show="isLoggedIn()">{{post.likes}} Likes</span>
  
        <div>
          <span class="rating-text"><strong>Rating: </strong></span>
          <span class="glyphicon glyphicon-star" ng-repeat="i in getRating(post)" aria-hidden="true"></span>
        </div>
        <span class="restaurant-name">{{currentFood.restaurant_name}} </span><span class="label label-info">{{currentFood.city}}</span> <span class="label label-info">{{currentFood.state}}</span><br>
        <h6>{{post.review}}</h6>
      </div>

      <button type="button" class="btn btn-default edit-button" ng-click="goToEdit(food)" ng-show="currentUser.id === post.user_id">Edit</button> <!-- fix it -->
      <button type="button" class="btn btn-default remove-button" ng-click="removeFood(food)" ng-show="currentUser.id === post.user_id">Delete</button>
       
    </div>
  
  </div>

</div>