<ng-include src="'templates/navbar.html'"></ng-include>

<div class="container" ng-controller="HomeCtrl">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <input type="text" class="form-control" placeholder="Search Food by {{placeholder}}" ng-model="search[filter]" id="search">
    </div>

    <div class="col-xs-12 col-md-8">
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default filter-button" ng-click="selectSearch('name')">Name</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default filter-button" ng-click="selectSearch('city')">City</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default filter-button" ng-click="selectSearch('state')">State</button>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="food in foods | filter:search" id="{{food.id}}">
      <div class="thumbnail">
        <span class="glyphicon glyphicon-cutlery" aria-hidden="true" ng-click="bookmarkFood(food, currentUser, bookmarks)" ng-show="isLoggedIn()"></span>
        <span class="label label-info">{{food.city}}</span>
        <span class="label label-info">{{food.state}}</span>
        <span class="glyphicon glyphicon-bookmark home" ng-show="isLoggedIn() && isBookmarked(food, currentUser, bookmarks)" aria-hidden="true"></span>
        <a ng-href="#/foods/{{food.id}}"><img class="img-rounded" ng-src="{{food.posts[0].food_image.image_url}}" alt="Food Pictures"></a>
        <div class="caption">
          <h3>{{food.name}}</h3>
          <h4>{{food.restaurant_name}}</h4>
          <div>
            <span class="rating-text"><strong>Rating: </strong></span>
            <span ng-repeat="i in getAvgRating(food)" aria-hidden="true"><img src="images/glyphicons-49-star-empty.png" alt="star"></span>
          </div>
          <p class="review">{{food.posts[food.posts.length-1].review | ellipsis}}</p>
        </div>
          <a href="#/foods/{{food.id}}" class="btn btn-default read" role="button">Read More</a>
      </div>
    </div>

  </div>

</div>