<ng-include src="'templates/partials/navbar.html'"></ng-include>

<div class="container">

  <h1>Home Page</h1>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
        <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
        <span class="label label-info">Tags</span>
        <img data-src="holder.js/300x300" alt="Food Picture">
        <div class="caption">
          <h3>Food Name</h3>
          <h4>Restaurant Name</h4>
          <h5>Rating</h5>
          <p>Review</p>
          <p><a href="#" class="btn btn-default" role="button">Read More</a></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
        <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
        <span class="label label-info">Tags</span>
        <img data-src="holder.js/300x300" alt="Food Picture">
        <div class="caption">
          <h3>Food Name</h3>
          <h4>Restaurant Name</h4>
          <h5>Rating</h5>
          <p>Review</p>
          <p><a href="#" class="btn btn-default" role="button">Read More</a></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
        <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
        <span class="label label-info">Tags</span>
        <img data-src="holder.js/300x300" alt="Food Picture">
        <div class="caption">
          <h3>Food Name</h3>
          <h4>Restaurant Name</h4>
          <h5>Rating</h5>
          <p>Review</p>
          <p><a href="#" class="btn btn-default" role="button">Read More</a></p>
        </div>
      </div>
    </div>

  </div>
</div>