<ng-include src="'templates/navbar.html'"></ng-include>

<div class="container" ng-controller="HomeCtrl">
  <div class="row">
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="Search Food" ng-model="letter">
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="food in foods | search:letter">
      <div class="thumbnail">
        <span class="glyphicon glyphicon-cutlery" aria-hidden="true" ng-click="bookmarkFood(food)"></span>
        <span class="label label-info">{{food.city}}</span>
        <span class="label label-info">{{food.state}}</span>
        <span class="glyphicon glyphicon-bookmark" ng-show="food.bookmarked" aria-hidden="true"></span>
        <a ng-href="#/foods/{{food.id}}"><img class="img-rounded" ng-src="{{food.posts[0].food_image.image_url}}" alt="Food Picture"></a>
        <div class="caption">
          <h3>{{food.name}}</h3>
          <h4>{{food.restaurant_name}}</h4>
          <div>
            <span><strong>Rating: </strong></span>
            <span class="glyphicon glyphicon-star" ng-repeat="i in getAvgRating(food)" aria-hidden="true"></span>
          </div>
          <p class="review">{{food.posts[food.posts.length-1].review}}</p>
        </div>
          <a href="#/foods/{{food.id}}" class="btn btn-default" role="button">Read More</a>
      </div>
    </div>

  </div>

</div>