<ng-include src="'templates/partials/navbar.html'"></ng-include>

<div class="container" id="user-form">

  <form role="form">
  
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" placeholder="Enter Email">
    </div>
  
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" placeholder="Password">
    </div>
  
    <div class="checkbox">
      <label>
        <input type="checkbox"> Remember me
      </label>
    </div>
  
    <button type="submit" class="btn btn-default login">Login</button>
  
  </form>
</div>