<ng-include src="'templates/partials/navbar.html'"></ng-include>

<div class="container" id="user-form">

  <form role="form" name="loginUser" novalidate>
  
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" placeholder="Enter Email" required>
    </div>
  
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" placeholder="Password" required>
    </div>
  
    <button type="submit" class="btn btn-default login" ng-disabled="loginUser.$invalid">Login</button>
  
  </form>
</div>