<div ng-controller="NavbarCtrl"> 

  <div id="navbar">
      <div id="header"><strong><a href="#/" title="logo">OnMyPlate</a></strong></div>
      <div id="hamburger" ng-click="toggleNavbar()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
  </div>

    <div id="collapse" hidden>
        <ul>
          <li><a ng-href="#/" title="home" ng-click="toggleNavbar()">Home</a></li>
          <li><a ng-href="#/about" title="about" ng-click="toggleNavbar()">About</a></li>
          <li><a ng-href="#/profile/{{currentUser.id}}" title="profile" ng-if="isLoggedIn()" ng-click="toggleNavbar()">Profile</a></li>
          <li><a ng-href="#/login" title="login" ng-if="!isLoggedIn()" ng-click="toggleNavbar()">Login</a></li>
          <li><a ng-href="#/register" ng-if="!isLoggedIn()" ng-click="toggleNavbar()">Register</a></li>
          <li><a ng-href="#/login" ng-click="logout()" ng-if="isLoggedIn()" ng-click="toggleNavbar()">Logout</a></li>
        </ul>
    </div>
</div>
