<ng-include src="'templates/partials/navbar.html'"></ng-include>

<div class="sidebar">
  <ul>
    <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><a href="#/profile/add"> Add Post</a></li>
    <li><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span><a href="#/profile/fav"> Favorites</a></li>
  </ul>
</div>

<div class="container" id="media-container">
  <div class="media">
    <a class="media-left" href="#" class="profile-food-image">
      <img class="img-rounded" src="images/food.jpg" alt="Food Picture">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Food Name | Rating </h4>
      <h5>Restaurant Name</h5>
      <h6>Review</h6>
    </div>
    <button type="button" class="btn btn-primary">Edit</button>
    <button type="button" class="btn btn-danger">Remove</button>
  </div>
  
  <div class="media">
    <a class="media-left" href="#">
      <img class="img-rounded" src="images/food.jpg" alt="Food Picture">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Food Name | Rating </h4>
      <h5>Restaurant Name</h5>
      <h6>Review</h6>
    </div>
    <button type="button" class="btn btn-primary">Edit</button>
    <button type="button" class="btn btn-danger">Remove</button>
  </div>
</div>