<ng-include src="'templates/navbar.html'"></ng-include>
<ng-include src="'templates/sidebar.html'"></ng-include>

<div class="container media-container" ng-controller="ProfileCtrl">


  <div class="media food" ng-repeat="food in foods" id="{{food.id}}" ng-show="currentUser.id === food.user_id">

      <a class="media-left food" href="#/foods/{{food.id}}" class="profile-food-image">
        <img class="img-rounded" ng-src="{{food.posts[food.posts.length-1].food_image.image_url}}" alt="Food Picture">
      </a>

      <div class="media-body food">
        <h4 class="media-heading">{{food.name}}</h4>
        <span id="remove" class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeFood(food)"></span>
        <span class="glyphicon glyphicon-edit" aria-hidden="true" ng-click="goToEdit(food)">Edit</span>
        <div>
          <span>Rating: </span>
          <span class="glyphicon glyphicon-star" ng-repeat="i in getRating(food.posts[0])" aria-hidden="true"></span>
        </div>
        <span>{{food.restaurant_name}} </span><span class="label label-info">{{food.city}}</span> <span class="label label-info">{{food.state}}</span><br>
        <h6>{{food.posts[0].review}}</h6>
      </div>
  

  </div>

</div>