<ng-include src="'templates/navbar.html'"></ng-include>

<div class="container" ng-controller="UserCtrl">

  <div id="password-error" ng-hide="doesPasswordsMatch">
    <p>Passwords does not match.</p>
  </div>

  <div id="non-exist-error" ng-hide="nonExist">
    <p>There is no account with this email.</p>
  </div>
  
  <form role="form" name="registerUserForm" ng-submit="registerUser(user)" novalidate>
  
    <div class="form-group register-form">
      <label for="username">Username</label>
      <input type="username" class="form-control" name="username" ng-model="user.username" placeholder="Enter username" required>
    </div>

    <div class="custom-error" ng-show="registerUserForm.username.$dirty && registerUserForm.username.$invalid">
      <span ng-show="registerUserForm.username.$error.required">Invalid: Username is required.</span>
    </div>
    <br>
  
    <div class="form-group register-form">
      <label for="email">Email address</label>
      <input type="email" class="form-control" name="email" ng-model="user.email" placeholder="Enter email" required>
    </div>

    <div class="custom-error" ng-show="registerUserForm.email.$dirty && registerUserForm.email.$invalid">
      <span ng-show="registerUserForm.email.$error.required">Invalid: Email is required.</span>
    </div>
    <br>
  
    <div class="form-group register-form">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" ng-model="user.password" placeholder="Password" required>
    </div>

    <div class="custom-error" ng-show="registerUserForm.password.$dirty && registerUserForm.password.$invalid">
      <span ng-show="registerUserForm.password.$error.required">Invalid: Password is required.</span>
    </div>
    <br>
  
    <div class="form-group register-form">
      <label for="password-confirmation">Password Confirmation</label>
      <input type="password" class="form-control" name="passconf" ng-model="user.password_confirmation" placeholder="Re-enter password" required>
    </div>

    <div class="custom-error" ng-show="registerUserForm.passconf.$dirty && registerUserForm.passconf.$invalid">
      <span ng-show="registerUserForm.passconf.$error.required">Invalid: Confirm your password.</span>
    </div>
    <br>
  
    <button type="submit" class="btn btn-default register" ng-disabled="registerUserForm.$invalid">Register</button>
  
  </form>

</div>